langchain
langchain-community
langchain-core
langchain-experimental
langchain-gigachat
langchain-openai
langchain-text-splitters
langgraph
unstructured

faiss-cpu
docx2txt
python-dotenv
python-telegram-bot